// Background of app
body {
  background: $color-header;
  // opacity: 0;
}
  
// Header Section
header {
  height: 100vh;
  @include transition-ease-in-out(500ms);
  .image {
    opacity: 0;
    @include transition-ease-in-out(750ms);
  }
  .titles {
    opacity: 0;
    @include transition-ease-in-out(750ms);
  }
}

// Grid
.column {
  opacity: 0;
  margin-top: 24px;
  @include transition-ease-in-out(350ms);

  // Tablet break
  @include device-breakpoint($tablet) {
    opacity: 1;
    margin-top: 0px;
  }
}

// Loading Logo
.loading {
  .logo {
    @include transition-ease-in-out(240ms);
  }
}