.detailed-view {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    @include flex;
    z-index: 1;

    // Background of view
    .background {
        @include transition-ease-in-out(260ms);
        background: rgba(black, 0.92);
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    // Media being shown
    .media {
        flex: 1;
        position: relative;
        cursor: pointer;

        // Styles for work item
        .work {
            position: absolute;
            @include border($color-border);
            @include corner-radius(10px);
            @include transition-spring(300ms);
            cursor: default;

            // Default class for initial load
            // This is a fallback style used for anything but chrome
            &.default {
                top: 50% !important;
                left: 0% !important;
                transform: translate(-100%, -50%);
            }
    
            // Centers the element
            &.center {
                margin: 0;
                top: 50% !important;
                left: 50% !important;
                transform: translate(-50%, -50%);

                max-height: 100%;
                width: auto !important;

                @include device-breakpoint($phone) {
                    height: auto !important;
                    width: 80% !important;
                }
            }
        }
    }

    // Description area
    .description {
        flex: 1;
        background: white;
        max-width: 34%;
        margin-right: -34%;
        z-index: 0;
        @include transition-ease-in-out(250ms);
        @include flex;

        // Content for detail
        .content {
            flex: 1;
            margin: $margin-desktop;

            h1, h2, p {
                margin: 0;
                padding: 0;
                width: 100%;
                font-weight: 500;
                @include select(text);
            }

            h1 {
                font-size: 24px;
                padding-bottom: 16px;
            }

            h2 {
                font-size: 16px;
                line-height: 26px;
                opacity: 0.9;
                padding-bottom: 28px;
            }

            p {
                font-size: 16px;
                line-height: 26px;
                opacity: 0.8;
                font-weight: 500;
            }

            .break {
                height: 2px;
                width: 28px;
                background: $color-border-solid;
                margin-bottom: 28px;
            }

            .action-button {
                position: absolute;
                bottom: $margin-desktop;
                display: inline-block;
            }
        }

        // Tablet break
        @include device-breakpoint($tablet) {
            display: none;
        }
    }
  }