.detailed-view {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    @include flex;
    z-index: 1;

    // Background of view
    .background {
        @include transition-ease-in-out(260ms);
        background: rgba(black, 0.92);
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    // Media being shown
    .media {
        flex: 1;
        position: relative;

        // Styles for work item
        .work {
            @include border($color-border);
            @include corner-radius(10px);
            position: absolute;

            // Chrome exlusive animation
            &.chrome {
                @include transition-spring(300ms);
            }
    
            // Centers the element
            &.center {
                margin: 0;
                top: 50% !important;
                left: 50% !important;
                transform: translate(-50%, -50%);

                max-height: 100%;
                width: auto !important;

                @include device-breakpoint($phone) {
                    height: auto !important;
                    width: 80% !important;
                }
            }
        }
    }

    // Description area
    .description {
        flex: 1;
        background: white;
        max-width: 0%;
        z-index: 0;
        @include transition-ease-in-out(250ms);

        // display: none;

        // Tablet break
        @include device-breakpoint($tablet) {
            display: none;
        }
    }
  }