footer {
    background: $color-hero;

    // Variables
    $desktop-margin: 64px;
    $tablet-margin: 32px;
    $mobile-margin: 24px;

    // List of networks
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-top: $desktop-margin;
        padding-bottom: $desktop-margin;
        @include flex();

        // Tablet break
        @include device-breakpoint($desktop) {
            padding-left: $desktop-margin;
            padding-right: $desktop-margin;
        }

        // Tablet break
        @include device-breakpoint($tablet) {
            padding-left: $tablet-margin;
            padding-right: $tablet-margin;
        }

        // Phone break
        @include device-breakpoint($phone) {
            padding-left: $mobile-margin;
            padding-right: $mobile-margin;
        }

        // Network Item
        li {
            flex: 1;
            // background: blue;
            height: 56px;
            @include flex();
            align-items: center;
            justify-content: center;
            margin-right: $desktop-margin;
            @include shadow-border();
            @include corner-radius(10px);
            overflow: hidden;

            // Remove margin on last item
            &:last-child {
                margin-right: 0px;
            }

            // Link
            a {
                flex: 1;
                @include flex();
                height: 100%;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: black;
            }
        }
    }
}