footer {
    background: $color-header;

    // List of networks
    ul {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include flex();
        padding: $margin-desktop;

        // Tablet break
        @include device-breakpoint($tablet) {
            overflow-x: scroll;
            padding: $margin-tablet;
        }

        // Phone break
        @include device-breakpoint($phone) {
            padding: $margin-phone;
        }

        // Network Item
        li {
            flex: 1;
            @include flex();
            align-items: center;
            justify-content: center;
            margin-right: $margin-desktop;

            // Remove margin on last item
            &:last-child {
                margin-right: 0px;
            }

            // Tablet break
            @include device-breakpoint($tablet) {
                margin-right: $margin-tablet;
                &:last-child {
                    &:after {
                        content: '';
                        width: $margin-tablet;
                    }
                }
            }

            // Tablet break
            @include device-breakpoint($phone) {
                margin-right: $margin-phone;
                &:last-child {
                    &:after {
                        content: '';
                        width: $margin-phone;
                    }
                }
            }
        }
    }
}