footer {
    background: $color-hero;

    // Variables
    $desktop-margin: 64px;
    $tablet-margin: 32px;
    $mobile-margin: 24px;

    // List of networks
    ul {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include flex();

        // Tablet break
        @include device-breakpoint($desktop) {
            padding: $desktop-margin;
        }

        // Tablet break
        @include device-breakpoint($tablet) {
            padding: $tablet-margin;
        }

        // Phone break
        @include device-breakpoint($phone) {
            padding: $mobile-margin;
        }

        // Network Item
        li {
            flex: 1;
            @include flex();
            align-items: center;
            justify-content: center;
            margin-right: $desktop-margin;

            // Remove margin on last item
            &:last-child {
                margin-right: 0px;
            }

            // Tablet break
            @include device-breakpoint($tablet) {
                margin-right: $tablet-margin;
                &:last-child {
                    &:after {
                        content: '';
                        width: $tablet-margin;
                    }
                }
            }

            // Tablet break
            @include device-breakpoint($phone) {
                margin-right: $mobile-margin;
                &:last-child {
                    &:after {
                        content: '';
                        width: $mobile-margin;
                    }
                }
            }
        }
    }
}