.grid {
  background: white;

  // Variables
  $desktop-margin: 64px;
  $tablet-margin: 32px;
  $mobile-margin: 24px;

  @include flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
  
    // Desktop
    @include columns(3);
    @include column-gap($desktop-margin);
    padding-top: $desktop-margin;

    // Tablet break
    @include device-breakpoint($desktop) {
      padding-left: $desktop-margin;
      padding-right: $desktop-margin;
    }

    // Tablet break
    @include device-breakpoint($tablet) {
      @include columns(2);
      @include column-gap($tablet-margin);
      padding-top: $tablet-margin;
      padding-left: $tablet-margin;
      padding-right: $tablet-margin;
    }

    // Phone break
    @include device-breakpoint($phone) {
      @include column-gap($mobile-margin);
      padding-top: $mobile-margin;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
    }
  
    li {
      width: 100%;
      overflow: hidden;
      display: inline-block;
      margin-bottom: $desktop-margin;
      background: $color-border;
      @include shadow-border();
      @include corner-radius(10px);
      overflow: hidden;

      // Tablet break
      @include device-breakpoint($tablet) {
        margin-bottom: $tablet-margin;
      }

      // Phone break
      @include device-breakpoint($phone) {
        margin-bottom: $mobile-margin;
      }
  
      // Showcased piece
      .work {
        width: 100%;
        overflow: hidden;
        @include corner-radius(10px);
      }
    }
  }

  // Contain for button
  .button-container {

    // Fixes style bug on Chrome
    background: white;
    margin-top: -2px;
    z-index: 1;
    
    // Center button
    @include flex();
    justify-content: center;

    // Button
    a {
      margin-bottom: $desktop-margin;

      // Tablet break
      @include device-breakpoint($tablet) {
        width: 100%;
        margin-left: $tablet-margin;
        margin-right: $tablet-margin;
      }

      // Phone break
      @include device-breakpoint($phone) {
        margin-left: $mobile-margin;
        margin-right: $mobile-margin;
      }
    }
  }
}