header {
    background: $color-header;

    // Styles when view is shown
    &.shown {
        height: 85vh;
        @include device-breakpoint($tablet) {
            height: auto;
        }
    }

    // Keyline container
    .keylines {
        @include flex();
        flex-direction: row;
        height: 100%;

        // Titles and buttons
        .titles {
            flex: 1;
            position: relative;

            // Reset title margins
            h1, h2, p {
                margin: 0;
                padding: 0;
                width: 100%;
                font-weight: 600;
                @include select(text);
            }
            h1 {
                font-size: 30px;
                padding-top: 64px;
                padding-bottom: 32px;
                color: $color-primary;
            }
            h2 {
                font-size: 18px;
                line-height: 26px;
                opacity: 0.9;
                padding-bottom: 16px;
            }
            p {
                font-size: 16px;
                line-height: 26px;
                opacity: 0.8;
                font-weight: 500;
            }

            // Button
            .action-button {
                position: absolute;
                bottom: 64px;
            }
        }

        // Background image
        .image {
            flex: 1;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                width: 590px;
                bottom: 0;
                right: 0;
                pointer-events: none;
            }
        }

        // Tablet break
        @include device-breakpoint($tablet) {
            .image {
                display: none;
            }

            .titles {

                h1, h2, p {
                    width: 100%;
                }

                h1 {
                    padding-top: 48px;
                    padding-bottom: 24px;
                }

                p {
                    padding-bottom: 48px;
                }
                
                .action-button {
                    margin-bottom: 48px;
                    position: relative;
                    bottom: 0;
                }
            }
        }
    }
}