.hero {
    height: 85vh;
    background: $color-hero;

    // Tablet break
    @include device-breakpoint($tablet) {
        height: auto;
    }

    // Keyline container
    .keylines {

        @include flex();
        flex-direction: row;
        height: 100%;

        // Titles and buttons
        .titles {
            flex: 1;
            position: relative;

            // Reset title margins
            h1, h2, p {
                margin: 0;
                padding: 0;
                font-weight: 500;
                width: 100%;
            }
            h1 {
                font-size: 30px;
                padding-top: 64px;
                padding-bottom: 32px;
                color: $color-primary;
            }
            h2 {
                font-size: 18px;
                padding-bottom: 16px;
                opacity: 0.9;
            }
            p {
                font-size: 16px;
                line-height: 26px;
                opacity: 0.8;
            }

            // Button
            .action-button {
                position: absolute;
                bottom: 64px;
            }
        }

        // Background image
        .image {
            flex: 1;
            background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-d6f40.appspot.com/o/profile.jpg?alt=media&token=d3d7a776-6b82-4274-a6bc-5b99f7e8c517');
            background-size: 540px auto;
            background-position-x: right;
            background-position-y: bottom;
            background-repeat: no-repeat;
        }

        // Tablet break
        @include device-breakpoint($tablet) {
            .image {
                display: none;
            }

            .titles {

                h1, h2, p {
                    width: 100%;
                }

                h1 {
                    padding-top: 48px;
                    padding-bottom: 24px;
                }

                p {
                    padding-bottom: 48px;
                }
                
                .action-button {
                    margin-bottom: 48px;
                    position: relative;
                    bottom: 0;
                }
            }
        }
    }
}