// bower:scss
// endbower

// Imports
@import "resources/config";

// Main
html, body {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-family: $primary-font;
  color: $color-font;
  background: $color-primary;
  -webkit-tap-highlight-color: transparent;
}

// Keylines
.keylines {

  // Aligns view
  padding-left: 0px;
  padding-right: 0px;

  // Centers view
  margin-left: auto;
  margin-right: auto;
  $margins: 64px * 2;
  width: $desktop - $margins;

  @include device-breakpoint($desktop) {
    padding-left: 64px;
    padding-right: 64px;
    width: inherit;
  }

  @include device-breakpoint($tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include device-breakpoint($phone) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// Views
@import "views/hero";
@import "views/grid";
@import "views/footer";