// bower:scss
// endbower

// Imports
@import "resources/config";

// Main
html, body {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-family: $primary-font;
  color: $color-font;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  @include select(none);
}

// Keylines
.keylines {

  // Aligns view
  padding-left: 0px;
  padding-right: 0px;

  // Centers view
  margin-left: auto;
  margin-right: auto;
  max-width: $max-keyline;

  @include device-breakpoint($desktop) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @include device-breakpoint($tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include device-breakpoint($phone) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// Button
.action-button {
  height: 56px;
  line-height: 56px;
  @include flex();
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  @include corner-radius(10px);
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  @include border($color-border);
  @include transition-ease-in-out(200ms);

  // Desktop hover
  &:hover {
    @include shadow(0px 4px 12px 0px rgba(0,0,0,0.125));
  }

  // Mobile Touches
  @include device-breakpoint($tablet) {
    @include transition-ease-in-out(0ms);
    &:hover {
      @include shadow(none);
    }
  }

  // Action styles
  &[type='send-message'] {
    @include action-style(#3CD07D);
  }
  &[type='dribbble'] {
    @include action-style(#ea4c89);
  }
  &[type='github'] {
    @include action-style(#24292E);
  }
  &[type='stackoverflow'] {
    @include action-style(#F87F00);
  }
  &[type='twitter'] {
    @include action-style(#049FF6);
  }
  &[type='instagram'] {
    @include action-style(#CE007B);
  }
  &[type='resume'] {
    @include action-style($color-primary);
  }
}

// Section Title
.section-title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 500;
  margin: 0;
  padding: $margin-tablet;
}

// Views
@import "views/header";
@import "views/grid";
@import "views/footer";
@import "views/detailed-item";
@import "views/loading";
@import "views/animate";