$desktop: 1440px; // Macbook
$tablet: 1048px;  // iPad Pro
$phone: 460px;    // iPhone 6+

// Applies a change at a specific width
@mixin device-breakpoint($screenWidth) {
    @media only screen and (max-width: $screenWidth) { 
        @content;
    }
}