
// Setting columns
@mixin columns($count) {
  -webkit-columns: $count;
  -moz-columns: $count;
  columns: $count;
}

// Setting column gap
@mixin column-gap($size) {
  -webkit-column-gap: $size;
  -moz-column-gap: $size;
  column-gap: $size;
}

// Flex support
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Corner radius support
@mixin corner-radius($radius) {
  border-radius: $radius $radius $radius $radius;
  -moz-border-radius: $radius $radius $radius $radius;
  -webkit-border-radius: $radius $radius $radius $radius;
}

// Adds border as shadow
@mixin shadow-border() {
  -webkit-box-shadow: 0px 0px 0px 2px $color-border;
  -moz-box-shadow: 0px 0px 0px 2px $color-border;
  box-shadow: 0px 0px 0px 2px $color-border;
}

// Adds border as... border
@mixin border() {
  border: solid 2px $color-border;
}

// Set the style for a button with a color
@mixin action-style($color) {
  color: $color-font;
  border-color: $color-border;
  &:hover {
    border-color: $color-border;
    background: $color;
    color: white;
  }
  &:active {
    background: darken($color, 10%);
    color: white;
  }
}