// Sets selection for text and things
@mixin select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

// Setting columns
@mixin columns($count) {
  -webkit-columns: $count;
  -moz-columns: $count;
  columns: $count;
}

// Setting column gap
@mixin column-gap($size) {
  -webkit-column-gap: $size;
  -moz-column-gap: $size;
  column-gap: $size;
}

// Flex support
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Corner radius support
@mixin corner-radius($radius) {
  border-radius: $radius $radius $radius $radius;
  -moz-border-radius: $radius $radius $radius $radius;
  -webkit-border-radius: $radius $radius $radius $radius;
}

// Adds border as... border
@mixin border($color) {
  border: solid 2px $color;
}

// Set the style for a button with a color
@mixin action-style($color) {
  color: $color-font;
  border-color: $color-border;

  // Desktop styles
  &:hover {
    border-color: $color-border;
    background: $color;
    color: white;
  }
  &:active {
    background: darken($color, 10%);
    color: white;
  }

  // Touches on mobile
  @include device-breakpoint($tablet) {
    &:hover {
      border-color: $color-border;
      background: transparent;
      color: $color-font;
    }
    &:active {
      background: $color;
      color: white;
    }
  }
}

// Animate with ease
@mixin transition-ease-in-out($duration) {
  -webkit-transition: all $duration cubic-bezier(0.4, 0.0, 0.0, 1.000); 
  -moz-transition: all $duration cubic-bezier(0.4, 0.0, 0.0, 1.000); 
  -o-transition: all $duration cubic-bezier(0.4, 0.0, 0.0, 1.000); 
  transition: all $duration cubic-bezier(0.4, 0.0, 0.0, 1.000);
}

// Spring Animation
@mixin transition-spring($duration) {
  -webkit-transition: all $duration cubic-bezier(0.575, 0.870, 0.000, 1);
  -webkit-transition: all $duration cubic-bezier(0.575, 0.870, 0.000, 1.1);
  -moz-transition: all $duration cubic-bezier(0.575, 0.870, 0.000, 1.1);
  -o-transition: all $duration cubic-bezier(0.575, 0.870, 0.000, 1.1);
  transition: all $duration cubic-bezier(0.575, 0.870, 0.000, 1.1);
}

// Scale a view
@mixin scale($scale) {
  -ms-transform: scale($scale);
  -webkit-transform: scale($scale);
  transform: scale($scale);
}

// Shadow
@mixin shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}